
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div style="padding-top: 2%;" class="col-lg-10 col-md-12 text-left">

        <h5 style="color: #696767;
          font-weight: 700;">IUOFF - Copyright 2017 - Todos os direitos
          reservados </h5>

        <p style="color: gray;">Rua Cosme Viana, 168 - Afogados - Recife - PE.
          CEP: 50820-580 - CNPJ: 24.515.141/0001-05</p>

      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
</footer>