 <!-- Navigation -->
<nav id="#iuoff-menu" class="navbar navbar-expand-lg navbar-light fixed-top mainNav">
  <div class="container">
    {{#link-to 'home'}}
    <img height="50" src="/assets/img/logo.png" class="custom-logo" alt="IUOFF">
    {{/link-to}}
    <button class="navbar-toggler navbar-toggler-right" type="button"
            {{action "toggleNavbar" "#navbarResponsive"}}
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle
      navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " {{action "scrollTo" "#vantagens"}} href="#vantagens">
            As vantagens
          </a>
        </li>
        <li class="nav-item">
          {{#link-to "packages" class="nav-link "}}
          Pacotes
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "about-us" class="nav-link "}}
          Quem somos
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "partners" class="nav-link "}}
          Seja um parceiro
          {{/link-to}}
        </li>
        <li class="nav-item">
          <a class="nav-link " {{action "scrollTo" "#atendimento"}} href="#atendimento">Atendimento</a>
        </li>
      </ul>
      <div class="colum"></div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://meupainel.iuoff.com/" target="_blank">
            <span class="icon-locked icon-medium"></span> Acessar
          </a>

        </li>
      </ul>
    </div>
  </div>
</nav>
