 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/index.html">
      <img width="auto" height="50" src="assets/img/logo.png"
        class="custom-logo" alt="IUOFF">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle
      navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#vantagens">As vantagens
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Pacotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Quem
            somos</a>
            
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Seja
            um parceiro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#atendimento">Atendimento</a>
        </li>
        <div class="colum"></div>
        <li class="nav-item">
          <a class="nav-link btn-green btn btn-light btn-xl"
            href="#">Cadastre-se grátis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#"> <span
              class="icon-locked icon-medium"></span> Acessar </a>
        </li>
      </ul>
    </div>
  </div>
</nav>>