.card-deck {
  margin-bottom: 20px;
}

.card {
  border-radius: 15px 15px;
  box-shadow: 2px 4px 8px 0px #717171;
  height: 495px;

  & img {
    height: 250px !important;
  }
}

.card-title {
  height: 50px;
  color: #317ba1;
  font-family: Roboto,sans-serif;
  font-weight: 500;

  a {
    color: #317ba1 !important;
  }
}

.card-title-locate {
  color: #317ba1;
  border-bottom: 2px solid #ebebeb;

  a {
    color: #317ba1 !important;
  }
}

.card-title-locate .sub-title {
  
  display: block;
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-title .sub-title {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-body {
  font-size: 14px;
  overflow: auto;
}

.card-body p {
  display: inline-block;
}


.card-footer {
  background: #fff;
  text-align: center;
  border: none;
}

.card-footer button {
  font-size: 12px;
  margin-top: 5px;
  border-color: #ebebeb;
}
