.footer {
  background: #f8f8f8;
  color: gray;
  position: static;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

.btn-link-about {
  color: #0056b3;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-link-about:hover {
  color: #0056b3;
  text-transform: uppercase;
  font-size: 14px;
}
