{{!-- hide menu and footer --}}
<style>
  #iuoff-menu, .mainNav, .footer, #atendimento {
    display: none !important;
  }
</style>
 
<section class="p-0 entrar">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">

      <div style="padding-left: 5%;padding-left: 10%;padding-right:
        8%;padding-top: 1%;" class="col-lg-6 col-md-6 text-left">
        <div style="float: left; width: 100%;margin-bottom: 5%;">
          <a class="navbar-brand js-scroll-trigger" href="/index.html">
            <img style="" width="auto" height="100" width="200"
              src="assets/img/logo.png" class="custom-logo" alt="IUOFF"
              itemprop="logo" sizes="(max-width:
              858px) 100vw, 858px">
          </a>
          {{#link-to "home" class="close-register"}}  
           X
          {{/link-to}}
        </div>


        <a class="btn border-white btn-xl" style="border: 1px solid #fff;color:
          #fff;background-color: #3b5999; border-bottom: 0px; width: 70%;
          border-radius: 15px;border-bottom: 1px solid #fff; border-bottom: 0px;
          text-transform: none;width: 100%;font-size: 1.3em;margin-top:
          2%;font-weight: 500;padding: 3%;"
          hidden> Conectar-se usando
          Facebook</a>

        <hr hidden style="max-width: unset;border-width: 1.5px; border-color: #d8d2d2;"
          />

        <form style="color: #414141;" class="cadastre-se">

          <p style="color: gray;">Ou conecte-se usando seu email</p>

          <div style="width: 100%; margin-bottom: 3%;">
            {{
              input
              type="email"
              value=model.email
            }}
           
          </div>

          <div style="width: 100%; margin-bottom: 3%;">            
             {{
              input
              type="password"
              value=model.password
             }}
          </div>

          <div style="width: 100%; margin-bottom: 3%;" hidden>
            <span style="color: #515151;">Esqueceu sua senha?</span>
          </div>


          <a style="color: #fff ;border-radius: 15px; border: 3px solid #6DBE4C
            ; background: #6DBE4C ; font-weight: 700;font-size: 19px;width:
            100%;text-transform: none;padding: 2.7%;margin: 0% 0 0% 0;font-size:
            1.3em;font-weight: 500;" class="btn btn-light btn-xl sr-button"
            {{action "login"}}>Acessar</a>

        </form>

        <hr style="max-width: unset;border-width: 1.5px; border-color: #d8d2d2;"
          />


      <div style="width: 100%; margin-bottom: 3%;">
          <h4 style="color: #3b5999;width: 100%;">Ainda não possui cadastro?</h4>         
          <div style="margin-top: 5%;padding-bottom: 5%;">

             {{#link-to "register" class="btn btn-light btn-xl sr-button btn-cadastre-se"}} 
              Cadastre-se
             {{/link-to}}
          </div>

        </div>

        <footer style="margin-top: 10%;">

          <h5 style="color: #696767;
            font-weight: 700;font-size: 1.1rem;">IUOFF - Copyright 2017 - Todos
            os direitos reservados </h5>

          <a href="#" style="color:#007bff; font-size: 14px;">POLÍTICAS DE
            PRIVACIDADE</a>

          <a href="#" style="color:#007bff; font-size: 14px; padding-left: 2%;">TERMOS
            E CONDIÇÕES</a>
        </footer>
      </div>


      <div style="min-height: 700px; padding-top: 2%;background-image:
        url(assets/img/Login/imagens/img-fundo-login-com-overlay.jpg);
        background-size:cover;" class="col-lg-6 col-md-6 text-left">

        <div style="margin: 0 auto; color: #fff; margin-top: 40%;"
          class="col-lg-9
          col-md-12 text-center">
          <div style="100%; padding-left: 5%;" class="mx-auto">

            <h2 class="mb-0" style="color: #fff;line-height: 1;font-weight:
              200;"> Atendemos viajantes e temos vendedores espalhados por todo
              o Brasil para oferecer sempre as melhores opções de viagem.</h2>
          </div>
        </div>

      </div>



    </div>
  </div>
</section> 